div {
    text-align: center;
    align-items: center;
}

.btn-info {
    min-width: 100px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 10px;
    text-align: center;
    // margin-left: 50px;
    
    &:hover {
        color: yellowgreen;
    }
}

.btn-style {
    display: flex;
    justify-content: center;
    background-color: rgb(151, 35, 35);
    padding: 10px;
}

