.navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px 0;
    width: 100%;
}


.conteiner-text {
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
    font-weight: 300;
    color: blue;
    cursor: pointer;
    &:hover {
        color: yellowgreen;
    }
}

.conteiner-cart{
    margin-right: 20px;
    font-size: 24px;
    color: blue;
    cursor: pointer;
    &:hover {
        color: yellowgreen;
    }
}

.conteiner-favourite {
    font-size: 24px;
    color: blue;
    cursor: pointer;
    &:hover {
        color: yellowgreen;
    }
}

span {text-decoration: none;}
